// 基础颜色变量  
@base: #393939;  
@primary-color: #007BFF;  
@background-color: #FFFFFF;
@secondary-color: #e74c3c;  
@text-color: #FFFFFF;  
  
// 链接相关颜色变量  
@link-color: #8888df;  
@link-area-hover: #5fc5e483;
@link-hover-color: #000080;  
  
// 字体相关变量  
@font-size-base: 16px;  
@font-family-base: "Helvetica Neue", sans-serif;  
@line-height-base: 1.5;